/* * {
  transition: all 500ms;
} */

body {
  margin: 0;
  padding: 0;
  background-color: black !important;
}

/* For pages */

@media screen and (max-height: 500px) {
  .what.body.container, .how.body.container   {
    height: 250vh;
    border: none;
  }

  .who.body.container, .why.body.container  {
    border: none;
  }
}

@media screen and (min-width: 576px) {
  .body.container {
    border: 2px solid white;
  }

  .body.container h1 {
    font-size: 8em;
  }

  .culture.body.container h1 {
    font-size: 4em;
  }

  .what.body.container p {
    margin-left: 1.5em;
  }

  .how.body.container .table-header {
    margin-left: 1.5em;
  }

  .who.body.container h1 img {
    height: 100px;
    margin-bottom: 15px;
    margin-left: 10px;
  }

  .who.body.container .who-img {
    width: 100%;
    position: static;
    display: none;
  }

  .who.body.container .who-img-sm {
    display: block;
  }

  .who.body.container p {
    margin-left: 1.5em;
  }

  .why.body.container p {
    margin-left: 1.5em;
  }

  .culture.body.container p {
    margin-left: .5em;
  }

  .culture.body.container img {
    width: 100%;
    max-height: initial;
}

}

@media screen and (min-width: 768px) {

  .how.body.container img {
    height: 70px;
    margin-bottom: 15px;
  }

  .culture.body.container h1 {
    font-size: 8em;
    margin-left: .25em;

  }
  .culture.body.container p {
    margin-left: 1.5em;
  }

}

@media screen and (min-width: 992px) {

  /* WHAT */
  .what.body.container {
    height: 75vh;
    background-size: 70%;
  }

  .body.container .stagger-1 {
    margin-left: 1em;
  }

  .body.container .stagger-2 {
    margin-left: 2em;
  }

  .body.container .stagger-3 {
    margin-left: 3em;
  }

  .what.body.container .stagger-4 {
    margin-left: 4em;
  }

  .body.container .stagger-5 {
    margin-left: 5em;
  }

  .body.container .stagger-6 {
    margin-left: 6em;
  }

  .stagger-7 {
    margin-left: 7em;
  }

  .body.container .stagger-8 {
    margin-left: 8em;
  }

  .body.container .stagger-9 {
    margin-left: 9em;
  }

  .what.body.container .stagger-10 {
    margin-left: 10em;
  }

  .who.body.container .who-img {
    width: 190%;
    position: absolute;
    top: 150px;
    left: -430px;
    display: block;

  }

  .who.body.container .who-img-sm {
    display: none;
  }
  
}

@media screen and (min-width: 1200px) {
  .how.body.container {
    height: 80vh;
  }

  .who.body.container .who-img {
    width: 190%;
    position: absolute;
    top: 150px;
    left: -520px;
    display: block;

  }

  .how.body.container img {
    height: 100px;
    margin-bottom: 15px;
  }

}

@media screen and (min-width: 1400px) {
  .who.body.container .who-img {
    width: 190%;
    position: absolute;
    top: 150px;
    left: -610px;
    display: block;

  }
}

/* WHAT */

.what.body {
  height: 140vh;
  background-image: url(/img/what-bg.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.what.body p {
  margin-left: .5em;
}

/* HOW */

.how.body {
  height: 100vh;
  background-image: url('/img/how-bg.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: top -5em right -9em;
}

.how.body img {
  height: 50px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.how.body .table-header {
  margin-left: .5em;
}

/* WHO */
.who.body {
  height: auto;
}

.who.body p {
  margin-left: .5em;
}

.who.body .who-img-container {
  text-align: center;
  position: relative;
}

.who.body .who-img {
  position: static;
  width: 100%;
  display: none;
}

.who.body .who-img-sm {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.who.body h1 img {
  height: 65px;
  margin-bottom: 20px;
}

/* WHY */

.why.body p {
  margin-left: .25em;
}

.why.body img {
  width: 100%;
}

/* CULTURE */

.culture.body p {
  margin-left: .25em;
}

.culture.body img {
  width: 100%;
  max-height: initial;
}

.culture.body h1 {
  margin-left: .1em;
}


/* Generalized body */

.body {
  border: none;
}

.body h1,
.body h2,
.body h3,
.body h4,
.body p {
  color: white;
}

.body h1 {
  color: black !important;
  text-shadow: -2px -2px 0 #FFF, 2px -2px 0 #FFF, -2px 2px 0 #FFF, 2px 2px 0 #FFF;
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: 3px;
  text-align: left;
  margin-left: .25em;
}

.body p {
  font-weight: bold;
  font-size: 1.55em;
  line-height: 1.15em;
  margin-top: 1em;
  text-align: left;
  color: white;
}

.body ul,
body li {
  margin: 0;
  color: white;
  font-weight: bold;
  text-align: left;
  font-size: 1.25em;
  margin-left: 0.65em;
}

.body .table-header {
  text-transform: uppercase;
}

/******************/
/* For navigation */
/******************/

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #555;
}

*:before,
*:after {
  box-sizing: border-box;
}

.navigation {
  background: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  overflow: hidden;
  transition: left 0.3s;
  width: 100%;
  z-index: 100;
  padding-top: 2em;
}

.navigation p,
.navigation p a {
  color: #fff;
  width: 100%;
  text-align: center;
  z-index: 101;
  font-weight: bold;
}

.navigation p a {
  display: block;
  font-size: 40px;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navigation p a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.toggle-button {
  display: block;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}

.toggle-button .wolverine {
  display: inline-block;
  height: 26px;
  padding: 0px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  opacity: 0.97;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggle-button .wolverine span {
  display: inline-block;
  text-transform: uppercase;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-left: 0px;
  width: 0px;
  overflow: hidden;
}

.toggle-button .wolverine .claws {
  position: relative;
  top: -2px;
  width: 20px;
  height: 4px;
  background: white;
  display: inline-block;
}

.toggle-button .wolverine .claws:before,
.toggle-button .wolverine .claws:after {
  display: block;
  content: "";
  height: 4px;
  width: 20px;
  background: black;
  position: absolute;
  z-index: -1;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.1s 0.2s, -webkit-transform 0.2s ease;
  -webkit-transition-delay: ease, 0s;
  -moz-transition: all 0.1s 0.2s ease, -moz-transform 0.2s ease;
  -o-transition: all 0.1s 0.2s ease, -o-transform 0.2s ease;
  transition: all 0.1s 0.2s ease, transform 0.2s ease;
}

.toggle-button .wolverine .claws:before {
  top: 8px;
  background: white;
}

.toggle-button .wolverine .claws:after {
  top: -8px;
  background: white;
}

.nav-control {
  position: absolute;
  left: -9999px;
  width: 100%;
  clip: rect(0, 0, 0, 0);
}

.nav-control:checked~.navigation {
  left: 0;
  opacity: 1;
  transition: left 0.3s, opacity 0.3s
}

.nav-control:checked~.navigation ul li {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.nav-control:checked~.toggle-button .wolverine .claws {
  -webkit-transition: all 0.1s 0s;
  -webkit-transition-delay: ease;
  -moz-transition: all 0.1s 0s ease;
  -o-transition: all 0.1s 0s ease;
  transition: all 0.1s 0s ease;
  background: transparent !important;
  z-index: 101;
}

.nav-control:checked~.toggle-button .wolverine .claws:before,
.nav-control:checked~.toggle-button .wolverine .claws:after {
  background: white;
  -webkit-transition: all 0.1s ease, -webkit-transform 0.1s 0.2s;
  -webkit-transition-delay: 0s, ease;
  -moz-transition: all 0.1s ease, -moz-transform 0.1s 0.2s ease;
  -o-transition: all 0.1s ease, -o-transform 0.1s 0.2s ease;
  transition: all 0.1s ease, transform 0.1s 0.2s ease;
  top: 0;
  width: 20px;
}

.nav-control:checked~.toggle-button .wolverine .claws:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.nav-control:checked~.toggle-button .wolverine .claws:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

/* END For navigation */

#header {
  background: black;
}

#header img {
  max-width: 150px;
  padding: 1em;
}

#header #Layer_1 {
  max-width: 500px;
}

/* Mapbox styles */

/* #map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
} */

iframe {
  width: 100%;
  height: 40vh;
}

#map {
  width: 100vw;
  height: 100vh;
}

#map .mapboxgl-popup-content h1,
#map .mapboxgl-popup-content h2 {
  /* background: #D9FFD6; */
  margin-bottom: 0;
}

#map .mapboxgl-popup-content p {
  margin-top: 0;
}

#map .mapboxgl-popup-tip {
  /* border-left-color: #D9FFD6; */
}

/* END Mapbox styles */

@media (min-width:768px) {
  iframe {
    height: 100vh;
  }
}